<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header">
      <!-- Header Bottom (Sticky Navbar) -->
      <div class="header-bottom header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2 col-md-1">
              <div class="logo">
                <a routerLink="/" class="big-logo"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                <a routerLink="/" class="small-logo"><img src="assets/img/logo/loder-logo.png" alt="Logo"></a>
              </div>
            </div>

            <!-- Navigation Menu -->
            <div class="col-xl-8 col-lg-8 col-md-8">
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/employees">All Employees</a></li>
                  </ul>
                </nav>
              </div>
            </div>

            <!-- Add Employee Button -->
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="header-right-btn f-right d-none d-lg-block">
                <a href="#" class="btn" (click)="onOpenModal(null!, 'add')">Add Employee</a>
              </div>
            </div>

            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
