<div class="form-container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <h2 class="form-title">Create User</h2>

    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" id="login" formControlName="login" class="form-control">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName" class="form-control">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
      <select id="role" formControlName="role" class="form-control">
        <option value="admin"> Admin</option>
        <option value="user">Agent Esprit</option>
        <option value="architect">architect</option>
        <option value="chefprojet">Agent projet</option>
      </select>
    </div>

   

    <button type="submit" class="submit-btn" [disabled]="userForm.invalid">
      Submit
    </button>
  </form>

  <div class="upload-section">
    <h2 class="upload-title">Upload List of Workers</h2>
    <app-accounts-uploader></app-accounts-uploader>
  </div>
</div>
