

<body>


<div class="app">
    <div *ngIf="resultMessage" [class]="resultMessage.type">
        {{ resultMessage.result.status == 200 ? 'Success: ' + resultMessage.result.message : 'Error: ' + resultMessage.result.message }}
    </div>
    <h3>Ajouter votre document de construction </h3>
    <input type="file" (change)="handleFileChange($event, 'DEMANDE_STAGE')" />
    <button (click)="handleUpload(selectedDemandeStageFile, 'DEMANDE_STAGE')" [disabled]="!selectedDemandeStageFile">Télécharger</button>

</div>


 </body>
